*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
font-family: "sf-ui-text";
src: url("css/fonts/sf-ui-text.eot");
src:
url("css/fonts/sf-ui-text.woff") format("woff"),
url("css/fonts/sf-ui-text.otf") format("opentype"),
url("css/fonts/sf-ui-text.svg#filename") format("svg");
}

body{
  font-size: 16px;
  margin: 5%;
  background-color: black;
  font-family: "sf-ui-text", "Helvetica", sans-serif;
}

.screen {
  width:375px;
  height:812px;
  background-color: #fff;
}

.map_image img {
  width: 100.225%;
  height: 100%;
}

.container {
  height: 255px;
  margin: 0, auto;
  overflow: scroll;
  clear:both;
}

li {
  display:block;
}

.bus {
  width: 20%;
}

.dest {
  width: 40%;
}

.freq {
  width: 40%;
}

h2 {
  font-size: 1.05em;
  font-weight:600;
  color:#000;
  height: 30px;
  padding:5px;
  margin: 1px;
  text-align: center;
}

h3 {
  font-size: .85em;
  font-weight:400;

}

.line_items{
  width:100%;
  height: 30px;
  float:left;
  border-bottom: 1px solid #dadada;
}

.bottom_tab_bar img {
  width: 100%;
  height: 100%;
  bottom:0px;
  opacity: .95;
  border-top:1px solid #dadada;
}
